*{
    margin: 0px;
}
.head{
    height: 130px;
    display: flex;
    color: white;
    background-color: green;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
nav{
    display:flex;
    color:white;
    justify-content: center;
    gap:2cm;
    font-size: medium;
}
nav a{
    text-decoration: none;
}
.card{
    width:500px;
    height:150px;
    box-shadow: 0px 0px 5px rgb(201, 201, 201);
    padding: 10px;
}
.card h2{
    color: green;
}
.b{
    display: flex;
    justify-content: space-between;
    padding:20px;
}
.b-l{
    display: flex;
    flex-direction: column;
    gap:20px;
}
footer{
    height: 100px;
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
}
footer p{
    font-size: 20px;
}
footer a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(20, 185, 20);
    border-right: 1px solid white;
    padding: 0px 10px;
}
